MAPBOX_ACCESS_TOKEN = <YOUR_API_TOKEN>
SECRET_KEY = "admin"
FLEXMEASURES_ENV = "development"
SQLALCHEMY_DATABASE_URI = "postgresql://<dbuser>:<dbpass>@<dbserver>/<dbname>"
FLEXMEASURES_MAX_PLANNING_HORIZON=86400  # Set to 24 hours (in seconds)
FLEXMEASURES_ALLOW_DATA_OVERWRITE=True

CELERY_BROKER_URL = "redis://localhost:6379/0"
CELERY_RESULT_BACKEND = "redis://localhost:6379/0"
FLEXMEASURES_REDIS_PASSWORD = ""

JWT_SECRET_KEY = "admin"
JWT_ACCESS_TOKEN_EXPIRES = 2592000
SECURITY_TOKEN_MAX_AGE=2592000
FLEXMEASURES_SOLVER = "cbc"

FLEXMEASURES_MODE = "production"
SECURITY_TOKEN_AUTHENTICATION_HEADER = "Authorization"
FLEXMEASURES_PLUGINS=["<path_to_flex>/flexmeasures/venv/plugins/flexmeasures-weather/flexmeasures_weather", "<path_to_flex>/flexmeasures/venv/plugins/pv_forecast_data_plugin", "<path_to_flex>/flexmeasures/venv/plugins/grid_prices_forecast_data_plugin"]

# Select the weather provider to use: "OWM" (OpenWeatherMap) or "WAPI" (Weather API)
WEATHER_PROVIDER = "OWM"

# API key for the selected weather provider
WEATHERAPI_KEY = <YOUR_API_TOKEN>

# Name to register the weather data source in FlexMeasures. The default is 'Weather'.
# Examples: "OpenWeatherMap" (for backwards compatibility with the OWM plugin).
WEATHER_DATA_SOURCE_NAME = "OpenWeatherMap"

# File path to store weather data in JSON format
WEATHER_FILE_PATH_LOCATION = "<path_to_flex>/flexmeasures/venv/plugins/flexmeasures-weather/weather_output.json"
WEATHER_STATION_NAME = "Athens_Weather_Station"
WEATHER_MAXIMAL_DEGREE_LOCATION_DISTANCE = 1.0

ENTSOE_API_KEY=<YOUR_API_TOKEN>
